#title{
  background-color: #ff4c68;
  color: #ffffff;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-weight: 900;
  line-height: 1.5;
  font-size: 2.5rem;
}

h3{
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 10% 7.45%;
}

/* navigation bar*/

.navbar{
  font-size: 1.2rem;
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-size: 2rem;
  font-family: "Ubuntu",sans-serif;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

/* download button */

.download-button{
  margin: 5% 2% 0 0;
}

/* title image */

.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Features */

.features-img{
  color: #ef8172;
  padding-bottom: 1%;
}

.features-img:hover{
  color: #ff4c68;
}

#features h3{
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
  padding: 3% 0;
  font-size: 1.5rem;
}

#features p{
  color: #8f8f8f;
  width: 70%;
  margin: 0 auto;
}

#features{
  padding: 3% 0;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box{
  padding:5% 0;
}

/* Testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white
}

.carousel-item{
  padding: 3% 24%;
}

.testimonial-img{
  border-radius: 100%;
  width: 10%;
  margin: 30px 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}

.press-logo{
  width: 13%;
  margin: 20px 20px 50px;
}

.indicator-button{
  border:0;
}

/* pricing section */

#pricing{
  padding: 100px;
}

.pricing-column{
  padding:3% 2%;
}

/* call to action section */

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #ffff;
  padding: 10% 25%;
}

#cta h3{
  font-size: 3rem;
  padding-bottom: 3%;
}

/* footer section */

#footer{
  text-align: center;
  padding: 5% 0 2%;
}

.social-icons{
  padding:0 0.75% 2.5%;
}

/* media queries */

@media (max-width: 990px){
  .title-image{
    position: static;
    transform: rotate(0);
    width: 50%;
    margin-top: 5%;
  }
  #title{
    text-align: center;
  }
}
